/* Definição de Cores */
:root {
    --primary-color: #005A9C; /* Um azul mais sóbrio */
    --primary-hover: #004578;
}

/* Customização do Bootstrap */
.bg-primary {
    background-color: var(--primary-color) !important;
}

.table-primary {
    background-color: var(--primary-color) !important;
    color: white;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-primary:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.accordion-button:not(.collapsed) {
    background-color: #e7f1fa; /* Azul claro para o acordeão aberto */
    color: var(--primary-color);
}

.card-header {
    font-weight: bold;
}

body {
    background-color: #f8f9fa; /* Fundo levemente cinza */
}
/* css/style.css */
.card-link {
    text-decoration: none;
    color: inherit;
}
.card-hover:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease-in-out;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}